*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: Center;
  justify-content: Center;    
  background-color: #3aaccb;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  align-items: Center;
  flex-direction: column;
  min-height: 400px;
  width: 400px;
  background-color: rgb(236, 236, 236);
  border-radius: 15px;
  box-shadow: 2px 2px 10px 1px #333;  
  Overflow: Hidden;
  padding: 10px;
  Position: relative;
}
.heading-txt{
  color:White;
  font-size: 30px;
  font-weight: Bold;
  margin: 10px;
  text-align: Center;  
  text-transform: uppercase;
}
.question{
  margin:8px;
  box-shadow: 0px 0px 10px 1px #a2a3a3;
  border-radius: 5px;
  padding:5px;
  font-size: large;
  font-weight: 600;
  font-family: 'Times New Roman', times, serif;
  min-width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: Center;
  align-items: Center;
}
#question-number{
  margin-right: 5px;
}
.option-container {
  display: flex;
  flex-direction: column;
  margin:6px 4px;    
  width: 100%;
  padding: 10px;
}


.option-btn{
  box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
  padding: 5px;
  border-radius: 3px;
  border:None;
  Outline: None;
  transition: 0.3S;
  margin: 5px;
  min-height: 30px;
  background-color: White;
}

.checked{
  background-color: rgb(91, 41, 91);
  color:White;
  box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.option-btn:hover{
  background-color: rgb(226, 158, 226);
  color:White;
}
#next-button{
  padding:10px;
  border:None;
  background-color: purple;
  background-color: #276272;
  color:White;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
  font-size: larger;
  font-weight: Bold;
  font-family:Cambria, Cochin, Georgia, times, 'Times New Roman', serif;
  transition: 0.2S;
  width:100px;
  Position: absolute;
  Bottom: 15px;
}
#next-button:Active{
  box-shadow:None;    
}
.show-score{
  Position: absolute;
  Top:30%;
  font-size: 40px;
  text-align: Center;  
}

.show-score {
  position: absolute;
  top: 30%;
  font-size: 40px;
  text-align: center;
}